body {
    font-family: Helvetica, Arial, sanserif;
}

header {
    border: solid 1px;
    padding: 1ex;
    text-align: center;
}

main {
    margin-left: 25%;
}

nav {
    width: 20%;
    float: left;
    padding: 1%;
}

nav li.selected {
    font-weight: bold;
}

footer {
    clear: both;
    border: solid 1px;
    font-size: small;
    text-align: center;
}

section {
    margin: 1em 0;
}

details {
    margin: 1em 0;
    padding: 0 1em;
    border: 1px solid #aaaaaa;
    background: #eeeeee;
}

details > summary {
    font-size: 120%;
    margin: 2ex 0;
}

details table {
    border-collapse: collapse;
    margin: 1ex 0;
    font-size: 80%
}

th, td {
    padding: 1ex;
    border: 1px solid #ccccaa;
    background: #ffffff;
}

tbody th, tbody td {
    text-align: center;
    vertical-align: text-top;
}

.label {
    font-size: 80%;
}

.download {
    font-size: 80%;
}

.breadcrumbs {
    margin: 2ex 0;
    font-size: 80%;
}

.note {
    background: yellow;
    font-style: italic;
}