body {
    font-family: Helvetica, Arial, sanserif;
}

header {
    border: solid 1px;
    padding: 1ex;
    text-align: center;
}

main {
    margin-left: 25%;
}

nav {
    width: 20%;
    float: left;
    padding: 1%;
}

nav li.selected {
    font-weight: bold;
}

footer {
    clear: both;
    border: solid 1px;
    font-size: small;
    text-align: center;
}

section {
    margin: 1em 0;
}

th, td {
    padding: 1ex;
    border: 1px solid #ccccaa;
    background: #ffffff;
}

tbody th, tbody td {
    text-align: center;
    vertical-align: text-top;
}

.label {
    font-size: 80%;
}

.download {
    font-size: 80%;
}

.breadcrumbs {
    margin: 2ex 0;
    font-size: 80%;
}

.note {
    background: yellow;
    font-style: italic;
}

details {
    display: block;
    border: solid 1px #aaaaaa;
    padding: 0 2ex;
    margin: 2ex 0;
}

summary {
    display: block;
    font-size: 120%;
    margin: 2ex 0;
}

.no-details details > summary:before {
    float: left;
    width: 20px;
    content: '► ';
}

.no-details details.open > summary:before {
    float: left;
    width: 20px;
    content: '▼ ';
}

dt {
    margin-top: 2ex;
    font-weight: bold;
}